 <h1>The Metropolitan Museum of Art Collection</h1>

<ul>
  <% @data.each do |department| %>
    <li>
      <a href="/<%= department.fetch("departmentId") %>"><%= department.fetch("displayName") %></a>
    </li>
  <% end %>
</ul>
