 <h1 class="header">The Metropolitan Museum of Art Collection</h1>

<ul>
  <% @data.each do |department| %>
    <li>
      <a id="department" href="/<%= department.fetch("departmentId") %>"><%= department.fetch("displayName") %></a>
    </li>
  <% end %>
</ul>
